.nav-header {
  display: flex;
  width: 100%;
  padding: 0px 15px;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 0px;
}

.nav-heading {
  color: #000000;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 800;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0px;
  background: transparent;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.nav-menu-item {
  position: relative;
  font-family: 'Roboto';
  display: flex;
  align-items: center;
  margin: 10px;
  font-weight: 400;
  font-size: 24px;
}

.my-orders-text {
  display: none;
}

.cart-button {
  padding: 5px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.logout-button {
  margin: 0px;
  padding: 4px 12px;
  background-color: #4961db;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

.cart-count-badge {
  position: absolute;
  top: -3px;
  right: -6px;
  background-color: #ff4500;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  border-radius: 50%;
  padding: 2px 6px;
}

@media screen and (min-width: 768px) {
  .nav-heading {
    font-size: 28px;
  }
  .my-orders-text {
    display: flex;
    margin: 0px;
    color: #3d3a3a;
    font-size: 16px;
    font-weight: 500;
  }
}
